ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    background: grey;
}

li
{
    float: left;
}

li a
{
    display: block;
    padding: 10px 16px;
    text-align: center;


}

li a:hover{
    background: red;
    color: white;
}

body
{
    background: gray;
    text-align: center;

}

p
{
    line-height: 2;
    font-size: large;
    margin: 25px;
    padding: 3px;


}